.App {
  text-align: center;
}

.testModal {
  width: 400px;
  height: 400px;
  background-color: white;
  border: '2px solid #000';
  padding: 20px;
}

.starterPage{
  background-image: url('./imgs/starter.png');
  width: 375px;
  height: 667px;
  /* background-image: url("./imgs/results.png");
  padding-top:130px;
  color: #0076BE; */
}

.finalDesc {
  margin-top: 90px;
  color: #48BF91;
}

.loginPage{
  background-image: url('./imgs/login.png');
}

.wax{
  background-image: url('./imgs/wax.png');
  width: 375px;
  height: 667px;
}

.glass{
  background-image: url('./imgs/glass.png');
  width: 375px;
  height: 667px;
}

.containerPrompt{
  background-color: white;
  width: 375px;
  height: 667px;
  background-image: url('./imgs/containerprompt.png');
}
.containerButtons{
  padding-top: 500px;
  padding-left: 34px;
}

.containerButtonsStacked {
  padding-top: 480px;
  padding-left: 34px;
}

/* MANUAL ENTRY */
.manualModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/manualModal.png");
  margin-top: 0px;
}
.manualOne {
  position: absolute;
  left: 30px;
  top: 405px;
  opacity: 0;
}
.manualTwo {
  position: absolute;
  left: 30px;
  top: 470px;
  opacity: 0;
}
.manualThree {
  position: absolute;
  top: 410px;
  left: 200px;
  opacity: 0;
}
.manualFour {
  position: absolute;
  top: 480px;
  left: 200px;
  opacity: 0;
}
.manualEntry{
  position: absolute;
  top: 580px;
  height: 20px;
  left: 35px;
  background: transparent;
  border: none;
}
.manualSubmit{
  position: absolute;
  top: 580px;
  left: 250px;
  opacity: 0;
}

/* LOGIN */
.loginButton{
  padding-top: 520px;
  padding-left: 25px;
  width: 320px;
  height: 40px;
  opacity: 0;
}

.loginButton2{
  margin-top:40px;
  padding-top: 40px;
  padding-left: 25px;
  width: 350px;
  height: 40px;
  opacity: 0;
}

.loginButton3{
  padding-top:60px;
}

.loginButton4{
  padding-top:210px;
}

.username{
  padding-top: 406px;
  margin-right: 35px;
}

.password{
  padding-top: 11.5px;
  margin-right: 35px;
}

/* WELCOME SCREEN */
.welcomeScreen {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/welcomeScreen.png");
  margin-top: 0px;
}
.welcomeManual {
  position: absolute;
  top: 580px;
  width: 200px;
}
.welcomeUpload {
  position: absolute;
  top: 580px;
  width: 400px;
  opacity: 0;
}

/* CONFIRMING SCREEN */
.materialPage{
  background-image: url('./imgs/material.png');
  width: 375px;
  height: 667px;
}

.spacer1{
  padding-top: 360px;
  padding-left: 35px;
  display: grid; 
  grid-template-columns: auto auto ;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.materialButton{
  width: 120px;
  height: 50px;
  opacity: 0;
}

.glassButton{
  position: absolute;
  top: 500px;
  right: 10px;
  width: 140px;
  height: 50px;
  opacity: 0;
}

.yesContainer{
  margin-top: 500px;
  margin-left: 34px;
  width: 150px;
  height: 48px;
  opacity: 0;
}

.noContainer{
  margin-top: 500px;
  padding-left: 30px;
  width: 160px;
  height: 48px;
  opacity: 0;
}

.spacer{
  padding-top: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* UPLOAD PHOTO SCREEN */
.uploadModal{
  width: 375px;
  height: 667px;
  background-image: url("./imgs/photoUpload.png");
  margin-top: 0px;
}
.uploadModalSelect{
  position: absolute;
  top: 200px;
}
.uploadModalUpload{
  position: absolute;
  top: 570px;
  width: 400px;
  opacity: 0;
}
.uploadModalImage{
  position: absolute;
  left: 80px;
  top: 200px;
  max-width: 309px;
  max-height: 454px;
}

/* LOADING PAGE */
.loadingScreen {
  width: 375px;
  height: 667px;
  padding-top:350px;
  background-image: url("./imgs/loading.png");
}

/* RECOGNIZED PAGE */
.recognizedScreen {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/recognized.png");
}
.resultingItem {
  color: #48BF91;
  font-size: xx-large;
  font-weight: 600;
  padding-top: 260px;
}
.proceedButton {
  position: absolute;
  top: 500px;
  left: 45px;
  width: 290px;
  height: 45px;
}

.tryAgainButton{
  position: absolute;
  top: 570px;
  left: 45px;
  width: 290px;
  height: 55px;
}


/* questions screens */
.isEmptyCleanDryModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/isemptyanddry_.png");
  margin-top: 0px;
}

.emptyCleanDryModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/emptycleandry.png");
  margin-top: 0px;
}

.isStrawOrLidModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/isStrawOrLid_.png");
  margin-top: 0px;
}

.lidsOutModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/lidsout.png");
  margin-top: 0px;
}

.litersModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/liters.png");
  margin-top: 0px;
}

.spiModal {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/SPI.png");
  margin-top: 0px;
}

.yesButtonQ{
  position: absolute;
  top: 500px;
  right: 10px;
  width: 140px;
  height: 50px;
  opacity: 0;
}

.noButtonQ{
  position: absolute;
  top: 500px;
  left: 15px;
  width: 140px;
  height: 50px;
  opacity: 0;
}

.allDoneButtonQ{
  position: absolute;
  top: 500px;
  left: 0px;
  width: 290px;
  height: 50px;
  opacity: 0;
}

/* RESULTS PAGE */
.finalScreen {
  width: 375px;
  height: 667px;
  background-image: url("./imgs/results.png");
  padding-top:130px;
  color: #0076BE;
}
.finalDesc {
  margin-top: 90px;
  color: #48BF91;
}
.finalButton {
  margin-top: 160px;
  height: 50px;
  opacity: 0;
}
/* MULTIPLE RESULTS FROM DATABASE API */
.resultOptions {
  width: 375px;
  height: 667px;
  padding-top:350px;
  background-image: url("./imgs/resultOptions.png");
}
.resultOptionsScroll {
  width: 375px;
  height: 300px;
  overflow-y: scroll;
}
.resultOptionsButton {
  background: white;
  padding: 5px;
}