.App {
  text-align: center;
}

.testModal {
  width: 375px;
  height: 667px;
  background-color: white;
  border: '2px solid #000';
}

.submittedPrompt{
  background-image: url('./imgs/recognized.png');
  width: 375px;
  height: 667px;
}

.containerPrompt{
  background-color: white;
  width: 375px;
  height: 667px;
  background-image: url('./imgs/containerprompt.png');
}
.containerButtons{
  padding-top: 500px;
  padding-left: 34px;
}

.containerButtonsStacked {
  padding-top: 480px;
  padding-left: 34px;
}

.yesContainer{
  margin-top: 500px;
  margin-left: 34px;
  width: 150px;
  height: 48px;
  opacity: 0;
}

.yesContainerStacked{
  margin-top: 500px;
  margin-left: 34px;
  width: 290px;
  height: 48px;
  opacity: 1;
}

.noContainer{
  margin-top: 500px;
  padding-left: 30px;
  width: 160px;
  height: 48px;
  opacity: 0;
}

.noContainerStacked{
  margin-top: 500px;
  padding-left: 30px;
  width: 290px;
  height: 48px;
  opacity: 1;
}

.jugPrompt{

}

.electronicPrompt{

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
