.App {
  text-align: center;
}

.testModal {
  width: 400px;
  height: 400px;
  background-color: white;
  border: '2px solid #000';
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* RESULTS PAGE */
.finalScreen {
  width: 375px;
  height: 667px;
  background-image: url("results.png");
  padding-top:130px;
  color: #0076BE;
}

.finalDesc {
  margin-top: 90px;
  color: #48BF91;
}

.finalButton {
  margin-top: 160px;
  height: 50px;
  opacity: 0;
}
/* MULTIPLE RESULTS FROM DATABASE API */
.resultOptions {
  width: 375px;
  height: 667px;
  padding-top:350px;
  background-image: url("resultOptions.png");
}
.resultOptionsScroll {
  width: 375px;
  height: 300px;
  overflow-y: scroll;
}
.resultOptionsButton {
  background: white;
  padding: 5px;
}
/* MANUAL ENTRY */
.manualModal {
  width: 375px;
  height: 667px;
  background-image: url("manualModal.png");
  margin-top: 0px;
}
.manualOne {
  position: absolute;
  left: 30px;
  top: 405px;
  opacity: 0;
}
.manualTwo {
  position: absolute;
  left: 30px;
  top: 470px;
  opacity: 0;
}
.manualThree {
  position: absolute;
  top: 410px;
  left: 200px;
  opacity: 0;
}
.manualFour {
  position: absolute;
  top: 480px;
  left: 200px;
  opacity: 0;
}
.manualEntry{
  position: absolute;
  top: 580px;
  height: 20px;
  left: 35px;
  background: transparent;
  border: none;
}
.manualSubmit{
  position: absolute;
  top: 580px;
  left: 250px;
  opacity: 0;
}
/* WELCOME SCREEN */
.welcomeScreen {
  width: 375px;
  height: 667px;
  background-image: url("welcomeScreen.png");
  margin-top: 0px;
}
.welcomeManual {
  position: absolute;
  top: 580px;
  width: 200px;
}
.welcomeUpload {
  position: absolute;
  top: 580px;
  width: 400px;
  opacity: 0;
}
/* UPLOAD PHOTO SCREEN */